.level-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__logo,
  &__title,
  &__button {
    animation: moveInAndScaleUp 0.5s ease-out forwards;
  }

  &__logo {
    width: 30vw;
    margin-bottom: 20px;
  }

  &__title {
    color: #a1ac82;
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow:
      -0.06em 0 0.08em #000,
      0.06em 0 0.08em #000,
      0 0.06em 0.08em #000,
      0 -0.06em 0.08em #000,
      -0.06em 0.06em 0.08em #000,
      0.06em 0.06em 0.08em #000,
      -0.06em -0.06em 0.08em #000,
      0.06em -0.06em 0.08em #000;
  }

  &__variants {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@keyframes moveInAndScaleUp {
  0% {
    opacity: 0;
    transform: translateZ(300px) scale(0.3);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

@media (max-width: 786px) {
  .level-choose {
    &__logo {
      width: 60vw;
    }

    &__title {
      font-size: 50px;
    }

    &__button {
      font-size: 22px;
      padding: 12px 16px;
    }
  }
}

@media (max-width: 450px) {
  .level-choose {
    &__logo {
      width: 60vw;
    }

    &__title {
      font-size: 50px;
      margin-bottom: 20px;
    }

    &__variants {
      gap: 10px;
    }

    &__button {
      font-size: 18px;
      padding: 10px 14px;
    }
  }
}
