.game-level {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__state,
  &__list {
    animation: moveInAndScaleUp 0.5s ease-out forwards;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  &__state {
    text-align: center;
  }
}

@keyframes moveInAndScaleUp {
  0% {
    opacity: 0;
    transform: translateZ(300px) scale(0.3);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

@media (max-width: 1100px) {
  .game-level {
    &__list li {
      width: max(25.5vw, 128px);
    }
  }
}
