@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

body {
  font-family: "Potta One", system-ui;
  color: white;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#bg-video {
  filter: brightness(70%);
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}
