@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

body {
  font-family: "Potta One", system-ui;
  color: white;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#bg-video {
  filter: brightness(70%);
  height: 100%;
  object-fit: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.button {
  font-family: "Potta One", system-ui;
  border: none;
  background-color: #a1ac82;
  border-radius: 8px;
  box-shadow:
    0 5px 10px #000,
    0 -5px 10px #000;
  font-size: 24px;
  padding: 14px 18px;
  transition: all 0.2s ease-in-out;
}

.white-button {
  font-family: "Potta One", system-ui;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 16px;
  font-size: 24px;
  padding: 10px 25px;
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .button:hover {
    scale: 1.1;
  }

  .white-button:hover {
    scale: 1.1;
  }
}

@media (hover: none) {
  .button:active {
    scale: 1.1;
  }

  .white-button:active {
    scale: 1.1;
  }
}

@media (max-width: 1100px) {
  .white-button {
    font-size: 2.6vw;
    margin-bottom: 10px;
  }
}
