.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  animation: fade 0.5s ease-out forwards;

  &__button {
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  &__logo {
    width: 220px;
  }
}

@media (hover: hover) {
  .header__button:hover {
    scale: 1.1;
  }
}

@media (hover: none) {
  .header__button:active {
    scale: 1.1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;

    &__logo {
      margin-bottom: 30px;
    }
  }
}
