.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 220px;
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;

    &__logo {
      margin-bottom: 30px;
    }
  }
}
