.scoreboard {
  font-size: 24px;
  background-color: #17233e;
  border-radius: 20px;
  box-shadow:
    0 5px 15px #424242,
    0 -5px 15px #424242;
  color: #fff;
  padding: 15px;
  line-height: 1.5;
}
